<ion-view title="Standings" ng-controller="StandingsCtrl as data">
  <ion-content class="has-header">
    <div class="list">
      <div ng-repeat="st in data.standings">
      <div class="item item-divider item-energized">
      {{st.divisionName}}
      </div>
      <a href="#/app/teams/{{team.id}}" ng-repeat="team in st.divisionStandings" class="item item-icon-right">
         <div class="row">
          <div class="col">
            <p>{{team.teamName}}</p>
          </div>
         </div>
         <div class="row">
           <div class="col">
            <p>Wins</p>
           </div>
           <div class="col">
             <p>Losses</p>
           </div>
           <div class="col">
             <p>Pct</p>
           </div>
           <div class="col">
             <p>PF</p>
           </div>
           <div class="col">
             <p>PA</p>
           </div>
           <div class="col">
             <p>Diff</p>
           </div>
           </div>
           <div class="row">
             <div class="col">
              <p>{{team.wins}}</p>
             </div>
             <div class="col">
              <p>{{team.losses}}</p>
             </div>
             <div class="col">
              <p>{{team.winningPct}}</p>
             </div>
             <div class="col">
              <p>{{team.pointsFor}}</p>
             </div>
             <div class="col">
              <p>{{team.pointsAgainst}}</p>
             </div>
             <div class="col">
              <p>{{team.property}}</p>
             </div>
           </div>

         </div>
        <i class"icon ion-chevron-right icon-accessory"></i>

      </a>
      </div>
    </div>
  </ion-content>
</ion-view>