<ion-view title="Locations" ng-controller="LocationsCtrl as data">
  <ion-content class="has-header">
    <div class="list">
    <div class="item" ng-repeat="loc in data.locations">
      {{loc.name}}

    </div>
    </div>
  </ion-content>
</ion-view>