<ion-side-menus enable-menu-with-back-views="false">

<!-- container for navicon -->
  <ion-side-menu-content>
    <!-- nav bar -->
    <ion-nav-bar class="bar-balanced">
      <!-- back button -->
      <ion-nav-back-button class="button-clear button-icon icon">

      </ion-nav-back-button>
      <ion-nav-title>
        <h1 class="title">Title</h1>
      </ion-nav-title>
      <!-- navicon -->
      <ion-nav-buttons side="left">
        <button menu-toggle="left"
      class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- main content view -->
    <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <!-- side menu items -->
  <ion-side-menu side="left">
    <!-- side menu header -->
    <ion-header-bar class="bar-energized">
      <h1 class="title">Elite Schedule Menu</h1>
    </ion-header-bar>
    <!-- <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header> -->

    <!-- side menu content -->
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ui-sref="home.leagues">Home</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.teams">Teams</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.standings">Standings</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.locations">Locations</ion-item>
        <ion-item nav-clear menu-close ui-sref="app.rules">Rules</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>