<ion-nav-bar class="bar-balanced">
  <ion-nav-title>Elite Schedule</ion-nav-title>
</ion-nav-bar>

<ion-tabs class="tabs-energized tabs-icon-top">
  <ion-tab title="Leagues" icon="ion-home" href="#/home/leagues">
    <ion-nav-view name="tab-leagues"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Teams" icon="ion-star" href="#/home/myteams">
    <ion-nav-view name="tab-myteams"></ion-nav-view>
  </ion-tab>
</ion-tabs>