<ion-view ng-controller="LeaguesCtrl as data">
  <ion-content class="has-header">
    <h1>Leagues</h1>
    <div class="list">
      <a class="item item-icon-right"
      ng-repeat="league in data.leagues"
      ng-click="data.selectLeague(league.id)">
      {{league.name}}
      <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </ion-content>
</ion-view>