<ion-view title="Games" ng-controller="GameCtrl as data">
  <ion-content class="has-header">
    <!-- home team card -->
    <div class="card">
      <div class="item item-divider item-energized">
        Home Team
      </div>
        <a class="item item-text-wrap item-icon-right"
      ng-href="#/app/teams/{{data.game.team1Id}}">
        {{data.game.team1}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <div class="item item-divider">
        Score: {{data.game.team1Score}}
      </div>
    </div>
    <!-- away team card -->
    <div class="card">
      <div class="item item-divider item-energized">
      Away Team
      </div>
        <a class="item item-text-wrap item-icon-right"
      ng-href="#/app/teams/{{data.game.team2Id}}">
      {{data.game.team2}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <div class="item item-divider">
      Score: {{data.game.team2Score}}
      </div>
    </div>
    <!-- location card -->
    <div class="card">
      <div class="item item-divier item-energized">
      Time/Location
      </div>
      <div class="item">
        <span class="bold">Date/Time:
        </span>
        {{data.game.time | date:'M/d/yy'}}
        {{data.game.time | date:'shortTime'}}
      </div>
      <div class="item">
      {{data.game.location}}

      </div>
    </div>
  </ion-content>
</ion-view>