<ion-view title="Teams" ng-controller="TeamsCtrl as data">
  <ion-content class="has-header">
    <div class="list">
      <div ng-repeat="div in data.teams">
        <div class="item item-divider item-energized">
          {{div.divisionName}}
        </div>
        <a class="item item-icon-right" ng-repeat="team in div.divisionTeams" href="#/app/teams/{{team.id}}">
          {{team.name}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>