<ion-view title="{{data.teamName}}" ng-controller="teamDetailController as data">
  <!-- <ion-nav-title>{{data.teamName}}</ion-nav-title> -->
  <ion-content class="has-header">
    <div class="card">
      <div class="item item-button-right">
      <h2>Record: {{data.teamStanding.wins}} - {{data.teamStanding.losses}}</h2>
      <button class="button button-positive"
      ng-click="data.toggleFollow()"
      ng-class="{'ion-checkmark-round' : data.following,
      'ion-plus-round button-outline' : !data.following}">
      {{data.following ? "Following" : "Not Following"}}
      </button>
      </div>
    </div>
    <div class="card">
      <div class="item">
        <h2>
          {{data.following ? "Following" : "Not Following"}}
        </h2>
        <label class="checkbox">
          <input type="checkbox" ng-model="data.following" />
        </label>
      </div>
    </div>

    <div class="card">
    <div class="item item-toggle">
        <h2>
          {{data.following ? "Following" : "Not Following"}}
        </h2>
        <label class="toggle toggle-energized">
          <input type="checkbox" ng-model="data.following" />
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-right" ng-repeat="game in data.games" ui-sref="app.game({id:game.gameId})">
    <div class="row">
      <div class="col-20">
        <p>{{game.time | date:'M/d/yy'}}</p>
        <p>{{game.time | date:'shortTime'}}</p>
      </div>
      <div class="col col-center">
        <p>{{game.homeAway}} {{game.opponent}}</p>
        <p>{{game.location}}</p>
      </div>
      <div class="col-20 col-center">
        <h4 class="positive">
          {{game.scoreDisplay}}
        </h4>
      </div>
    </div>
    <i class="icon ion-chevron-right icon-accessory"></i>
    </a>

    </div>

    <!-- <div class="list">
      <a class="item item-icon-right"
      ng-repeat="game in data.games"
      ui-sref="app.game({id: game.gameId})">
      <div class="row">
        <div class="col-20">
          <p>{{game.time | date:'M/d/yy'}}</p>
          <p>{{game.time | date:'shortTime'}}</p>
        </div>
        <div class="col col-center">
          <p>{{game.homeAway}} {{game.opponent}}</p>
          <p>{{game.location}}</p>
        </div>
        <div class="col-20 col-center">
        <p class="positive">{{game.scoreString}}</p>
        </div>
      </div>
      <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div> -->
  </ion-content>
</ion-view>